#VERCEL FRONTEND ENV
JWT_SECRET=This is Obviously a Secret
DATABASE_URL=postgresql://neondb_owner:npg_oKW2JRu7PqYr@ep-damp-bush-a1h1j6t8-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
Frontend_URL=https://colab-canvas-frontend.vercel.app/
NEXT_PUBLIC_WS_URL=https://colabcanvas-6o60.onrender.com
NEXT_PUBLIC_HTTP_BACKEND=https://colabcanvas-http.onrender.com

#ColabCanvas HTTP render
DATABASE_URL="postgresql://neondb_owner:npg_oKW2JRu7PqYr@ep-damp-bush-a1h1j6t8-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
Frontend_URL=https://colab-canvas-frontend.vercel.app/
JWT_SECRET="This is Obviously a Secret"
NEXT_PUBLIC_HTTP_BACKEND=https://colabcanvas-http.onrender.com
NEXT_PUBLIC_WS_URL=https://colabcanvas-6o60.onrender.com

#ColabCanvas WS render
DATABASE_URL="postgresql://neondb_owner:npg_oKW2JRu7PqYr@ep-damp-bush-a1h1j6t8-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
Frontend_URL=https://colab-canvas-frontend.vercel.app
JWT_SECRET="This is Obviously a Secret"
NEXT_PUBLIC_HTTP_BACKEND=https://colabcanvas-http.onrender.com
NEXT_PUBLIC_WS_URL=https://colabcanvas-6o60.onrender.com