JWT_SECRET=JWT_SECRET
DATABASE_URL=YOUR_POSTGRESS_DB_URL
Frontend_URL=YOUR_Frontend_URL
NEXT_PUBLIC_WS_URL=YOUR_WS_BACKEND_URL
NEXT_PUBLIC_HTTP_BACKEND=YOUR_HTTP_BACKEND_URL
CLOUDINARY_CLOUD_NAME=YOUR CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR CLOUDINARY_API_SECRET